<ion-view name="menuContent" hide-back-button="true" class="mainli" >
  <ion-content>
    <ion-list>

      <ion-item class="liitem item item-complex"><a class="item-content" href="#/app/company">
        <i class="ion-android-globe"></i>
        Companies
      </a></ion-item>
       <ion-item class="liitem item item-complex"><a class="item-content" href="#/app/modules">
        <i class="ion-android-apps"></i>
        Modules
      </a></ion-item>
      <ion-item class="liitem item item-complex"><a class="item-content" href="#/app/modules">
        <i class="ion-android-document"></i>
        Reports
      </a></ion-item>
      <ion-item class="liitem item item-complex"><a class="item-content" href="#/app/playlists/4">
        <i class="ion-calculator"></i>
        Account
      </a></ion-item>
      <ion-item class="liitem item item-complex"><a class="item-content"  href="#/app/playlists/5">
        <i class="ion-document-text"></i>
        News
      </a></ion-item>
      <ion-item class="liitem item item-complex"><a class="item-content"  href="#/app/playlists/6">
        <i class="ion-help-circled"></i>
        Help
      </a></ion-item>
    
    </ion-list>
  </ion-content>
</ion-view>

